html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding: 1px;
    box-sizing: border-box;
  }
  
  body {
    color: #333333;
  }
  
  #chart-container {
    position: relative;
    height: 1000px;
    border: 1px solid #aaa;
    margin: 0.5rem;
    text-align: center;
  }