.btn-success-custom{
    background-color: #cfffed;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: #03ad6c;
}

.btn-danger-custom{
    background-color: #ffd2d2;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: #CE1515;
}

.btn-warning-custom{
    background-color: #ffddbb;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: #c36400;
}

.btn-muted-custom{
    background-color: #cacfcc;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: #2d2e2e;
}
.text-end{
    text-align: end;
}

.btn-info-custom{
        padding: 5px 20px;
        border: 2px solid #17a2b8;
        border-radius: 20px;
        background-color: white;
        color: #17a2b8;
}

.btn-primary-custom{
    padding: 5px 20px;
    border: 2px solid #3fcaff;
    border-radius: 20px;
    background-color: #3fcaff;
    color: #fff;
}

.standard-padding-box{
    padding: 10px 30px;
}

.noted-information{
    background-color: #eeeeee;
    border: 2px solid #c7c7c755;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    word-break: normal;
}

.edit-position-icon{
    border-radius: 30px;
    display: flex;
    justify-content: center;
    height: 39px;
    width: fit-content;
    align-items: center;
}

.fa-plus {
    margin-right: 5px;
}

.label-red{
    font-size: 13px;
    background-color: #ffe2db;
    color: #ce2a2a;
    padding: 2px 3px;
    border-radius: 5px;
}

.uraian-td{
    white-space: normal;
    height: auto;
    width: 43%;
}
.satuan-td{
    width: 8%;
}

body{
    font-size: 14px;
}
.btn-info{
    border: 1px solid #2075CE;
    background-color: #2075CE;
    color: #fff;

}
#sidebar-header {
    text-shadow: #1c6dc3 1px 1px, #1c6dc3 2px 2px, #1c6dc3 3px 3px, #1c6dc3 4px 4px, #1c6dc3 5px 5px, #1c6dc3 6px 6px, #1c6dc3 7px 7px, #1c6dc3 8px 8px, #1c6dc3 9px 9px, #1c6dc3 10px 10px, #1c6dc3 11px 11px, #1c6dc3 12px 12px, #1c6dc3 13px 13px, #1c6dc3 14px 14px, #1c6dc3 15px 15px, #1c6dc3 16px 16px, #1c6dc3 17px 17px, #1c6dc3 18px 18px, #1c6dc3 19px 19px, #1c6dc3 20px 20px, #1c6dc3 21px 21px, #1c6dc3 22px 22px, #1c6dc3 23px 23px, #1c6dc3 24px 24px, #1c6dc3 25px 25px, #1c6dc3 26px 26px, #1c6dc3 27px 27px, #1c6dc3 28px 28px, #1c6dc3 29px 29px, #1c6dc3 30px 30px, #1c6dc3 31px 31px, #1c6dc3 32px 32px, #1c6dc3 33px 33px, #1c6dc3 34px 34px, #1c6dc3 35px 35px, #1c6dc3 36px 36px, #1c6dc3 37px 37px, #1c6dc3 38px 38px, #1c6dc3 39px 39px, #1c6dc3 40px 40px, #1c6dc3 41px 41px, #1c6dc3 42px 42px, #1c6dc3 43px 43px, #1c6dc3 44px 44px, #1c6dc3 45px 45px, #1c6dc3 46px 46px, #1c6dc3 47px 47px, #1c6dc3 48px 48px, #1c6dc3 49px 49px, #1c6dc3 50px 50px, #1c6dc3 51px 51px, #1c6dc3 52px 52px, #1c6dc3 53px 53px, #1c6dc3 54px 54px, #1c6dc3 55px 55px, #1c6dc3 56px 56px, #1c6dc3 57px 57px, #1c6dc3 58px 58px, #1c6dc3 59px 59px, #1c6dc3 60px 60px, #1c6dc3 61px 61px, #1c6dc3 62px 62px, #1c6dc3 63px 63px, #1c6dc3 64px 64px, #1c6dc3 65px 65px, #1c6dc3 66px 66px, #1c6dc3 67px 67px, #1c6dc3 68px 68px, #1c6dc3 69px 69px, #1c6dc3 70px 70px, #1c6dc3 71px 71px, #1c6dc3 72px 72px, #1c6dc3 73px 73px, #1c6dc3 74px 74px, #1c6dc3 75px 75px, #1c6dc3 76px 76px, #1c6dc3 77px 77px, #1c6dc3 78px 78px, #1c6dc3 79px 79px, #1c6dc3 80px 80px, #1c6dc3 81px 81px, #1c6dc3 82px 82px, #1c6dc3 83px 83px, #1c6dc3 84px 84px, #1c6dc3 85px 85px, #1c6dc3 86px 86px, #1c6dc3 87px 87px, #1c6dc3 88px 88px, #1c6dc3 89px 89px, #1c6dc3 90px 90px, #1c6dc3 91px 91px, #1c6dc3 92px 92px, #1c6dc3 93px 93px, #1c6dc3 94px 94px, #1c6dc3 95px 95px, #1c6dc3 96px 96px, #1c6dc3 97px 97px, #1c6dc3 98px 98px, #1c6dc3 99px 99px, #1c6dc3 100px 100px;
    color: #fff;
    overflow: hidden;
    background: #2075CE;
    text-align: center;
    
}

.btn{
    font-size: 14px;
}

#nav-link-custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 15px;
}
#nav-link-custom .icon-sidebar{
    height: 30px;
    width: 35px;
}
#nav-link-custom .icon-sidebar.active path{
    fill: #1c6dc3;
}
#nav-link-custom p{
    margin-top: 10px;
    color: #b5bad0;
    font-size: 17px;
}

#nav-link-custom p.active{
    margin-top: 10px;
    color: #1c6dc3;
}

.modal-body{
    word-break: break-all;
}
.main-job tr{
    background-color: white;
}

.alert-warning{
    color: #1f2d3d;
    background-color: #ffdb70;
    border-color: #ffe598;
    padding: 8px;
    border-radius: 8px;
}


div.required .control-label:after {
    content: '* ';
    color: red;
    font-weight: 700;
}
.noresults-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.noresults-container p{
    font-size: 15px;
    color: #a7a7a7;
}

.box-img-user{
    padding: 12px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
@media(max-width:1200px){
    .img-responsive-user{
        width: 100%;
        height: auto;
    }
}

@media(max-width:991px){
    .img-responsive-user{
        width: 60%;
        height: auto;
    }
}

@media(max-width:767px){
    .img-responsive-user{
        width: 100%;
        height: auto;
    }
}

#modal-xl .modal-xl{
    /* max-width: 600px; */
    top: 5%;
}
label.error {
    color: #ff7878;
    font-weight: normal;
}
.form-control.error {
    border: 1px solid #ff6767;
}
a.close{
    font-size: 19px;
    opacity: .2;
    color: rgb(21, 87, 36);
}
.icon-doc{
    width: 40px;
}
.date-abk{
    font-size: 15px;
    padding-top: 5px;
    font-weight: 100;
    margin-bottom: 0;
}
.margin-5{
    margin: 5px 0px;
}
.red-export-abk{
    color: red;
    text-decoration: underline;
}

#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }  

  .total-label{
    margin: 0px 10px;
    background: #1c6dc3;
    padding: 0px 4px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
  }
  .title-head{
    font-size: 20px;
    font-weight: 600;
  }
  .modal-padding-lg{
    position: relative;
    padding: 20px;
  }
  .btn-container-modal-bottom{
    margin: 0;
  }
  .btn-1-left{
    padding: 8px 20px;
    background-color: #1c6dc3;
    color: #fff;
    border-radius: 6px;
  }
  .btn-2-right{
    padding: 8px 20px;
    border-radius: 6px;
    color: #1c6dc3;
  }




  /*----  Main Style  ----*/
#cards_landscape_wrap-2{
    text-align: center;
    margin-top: 10px; 
    background: #F7F7F7;
  }
  #cards_landscape_wrap-2 .container{
    /* padding-top: 80px;  */
    padding-bottom: 10px;
  }
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
    /* box-shadow: 0px 2px 0px rgb(0 0 0 / 50%); */
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 30px 18px;
  }
  #cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 10px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    /* box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40); */
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.096);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    /* margin-top: 50px; */
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
  }